.label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #fee2e2;
  border-radius: 28px;
  padding: 4px 14px;
  /*width: 83px;*/
  /*height: 28px;*/
  color: #b91c1c;
}
